# Ignore compiled files
*.exe
*.out
*.o
*.obj

# Ignore build and output directories
build/
output/

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.log
*.tmp

# Ignore personal configuration files
config.ini
.env

# Ignore compiled documentation
*.pdf
*.html



# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
